streamlit
pymongo
pandas
numpy
joblib
scikit-learn
nltk
sentence-transformers
transformers
datasets
torch
evaluate
regex
accelerate
xgboost
seaborn
matplotlib
imblearn
huggingface_hub
